Необходимо выполнить следующие шаги:

    Отправьте верную ссылку (убедитесь, что отправленное решение отмечено как правильное).
    Воспользуйтесь кнопкой "Отправить это решение на рецензию". Внимание! Отправить решение на рецензию можно только один раз!
    Проверьте решения минимум трех других учащихся.
    Дождитесь, пока ваше решение тоже проверят.
